@import url(../../theme/theme.css);

body {
	box-sizing: content-box;
	margin: 0;
}

.mini-header {
	width: 100vw;
	display: flex;
	flex-direction: row;
	height: auto;
	background-color: var(--header-bg);
	padding: 1rem;
	position: sticky;
}

.mini-icon-container {
	flex-basis: 15%;
	display: flex;
}

.img-link {
	margin: 0 auto;
}

.icon {
	width: 3rem;
	height: 3rem;
	margin: 0 auto;
}

.mini-socials {
	display: flex;
	flex-direction: row;
	flex-basis: 85%;
	justify-content: end;
	gap: 1.3rem;
	position: absolute;
	top: 1.6rem;
	right: 5rem;
}

.social-icons {
	max-width: 2rem;
	max-height: 2rem;
}
