<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://amazing-spirit.netlify.app/root.css">
    <link rel="stylesheet" href="./header.css" />
    <title>Header mini</title>
</head>

<body>
        <header>
            <div class="mini-header">
                <div class="mini-icon-container">
                    <a class="img-link" href="../../index.html"><span>
                            <img class="icon" src="../../images/jpeg/headicon.png" alt="" /></a>
                    </span>
                </div>
                <div class="mini-socials">
                    <span><a href="https://github.com/shivamsoni00"><img src='../../images/jpeg/github-mini.png'
                                class="social-icons" /></a></span>
    
                    <span><a href="https://twitter.com/ShivamSspirit"><img src='../../images/jpeg/twittermini.png'
                                class="social-icons" /></a></span>
                </div>
            </div>
        </header>
</body>

</html>