<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://amazing-spirit.netlify.app/root.css">
    <link rel="stylesheet" href="./category.css" />
    <title>Category</title>
</head>

<body>
    <div class="category-container">
        <header>
            <div class="mini-header">
                <div class="mini-icon-container">
                    <a class="img-link" href="../../index.html"><span>
                            <img class="icon" src="../../images/jpeg/headicon.png" alt="" /></a>
                    </span>
                </div>
                <div class="mini-socials">
                    <span><a href="https://github.com/shivamsoni00"><img src='../../images/jpeg/github-mini.png'
                                class="social-icons" /></a></span>

                    <span><a href="https://twitter.com/ShivamSspirit"><img src='../../images/jpeg/twittermini.png'
                                class="social-icons" /></a></span>
                </div>
            </div>
        </header>
        <div class="category-content">
            <h1 class="cat-title">Category</h1>
            <div class="category">
                <div class="action-pad">
                    <div class="action-card rm-border">
                        <div class="img-container-product0 mini-contain">
                            <img class="p-img0" alt="" src="../../images/jpeg/cash.jpg">
                            <div class="badge1">
                                <span class="action" onclick="close()"><img src="../../images/svgs/close.svg"
                                        class="img-action" alt=""></span>
                            </div>
                        </div>
                        <div class="card-content-product0">
                            <h3 class="title0 mini-title">Movies</h3>
                            <a class="btn-product0 mini-btn" href="../quizzes/cate-0/cate0.html">
                                See qizzes
                            </a>
                    
                        </div>
                    </div>
                </div>

                <div class="action-pad">
                    <div class="action-card rm-border">
                        <div class="img-container-product0 mini-contain">
                            <img class="p-img0" alt="" src="../../images/jpeg/1millidollars.jpg">
                            <div class="badge1">
                                <span class="action" onclick="close()"><img src="../../images/svgs/close.svg"
                                        class="img-action" alt=""></span>
                            </div>
                        </div>
                        <div class="card-content-product0">
                            <h3 class="title0 mini-title">Books</h3>
                            <a class="btn-product0 mini-btn" href="../quizzes/cate-1/cate1.html">
                                See qizzes
                            </a>
                          </div>
                    </div>
                </div>

                <div class="action-pad">
                    <div class="action-card rm-border">
                        <div class="img-container-product0 mini-contain">
                            <img class="p-img0" alt="" src="../../images/jpeg/land (1).jpg">
                            <div class="badge1">
                                <span class="action" onclick="close()"><img src="../../images/svgs/close.svg"
                                        class="img-action" alt=""></span>
                            </div>
                        </div>
                        <div class="card-content-product0">
                            <h3 class="title0 mini-title">Tv series</h3>
                            <a class="btn-product0 mini-btn" href="../quizzes/cate-2/cate2.html">
                                See qizzes
                            </a>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>