@import url(../../theme/theme.css);
@import url(../header/header.css);

*{
    margin: 0;
    box-sizing: border-box;
}

.rule-container{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    width: 100vw;
    height: 100vh;
    background: var(--default-color);
    overflow-x: hidden;
}

header{
    border-bottom: 1px solid var(--primary-color);
    width: 100%;
    margin: 0 auto;
}

.rule-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: auto;
    background: var(--default-color);

}

.svg-container{
    max-width: 80%;
    margin: 0 auto;
}

.svg-img{
    max-width: 100%;
    max-height: 75vh;
    /* margin: 0 auto; */
}

.rule-title{
    font-size: var(--rule-title-s);
    font-weight: var(--rule-title-w);
    color: var(--rule-txt-color);
    text-align: center;
}

.rules-main{
    max-width: 80%;
    margin: 0 auto;
}

.rule{
    font-size: var(--rule-txt-s);
    font-weight: var(--rule-txt-w);
    color: var(--rule-txt-color);
}

.rules-btn{
    max-width: 80%;
    margin: 0 auto;
}

.rule-btn{
    font-size: var(--rule-txt-s);
    font-weight: var(--rule-txt-w);
    color: var(--rule-txt-color);
    background-color: transparent;
    width: 6rem;
    height: 2.5rem;
    border: 1.5px solid var(--primary-color);
    text-align: center;
    text-decoration: none;
}

.rule-btn:hover{
background-color: var(--primary-color);
color: var(--default-color);
}
