@import url(../../theme/theme.css);
@import url(../header/header.css);

.result-container {
	display: flex;
	flex-direction: column;
	gap: 2.2rem;
	width: 100vw;
	height: 100vh;
	background: var(--default-color);
	overflow-x: hidden;
}

header {
	border-bottom: 1px solid var(--primary-color);
	width: 100%;
	margin: 0 auto;
}

.result-content {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;
	height: auto;
	background: var(--default-color);
}

.res-svg {
	max-width: 50%;
	margin: 0 auto;
}

.res-img {
	max-width: 100%;
	max-height: 75vh;
}

.res-title {
	font-size: var(--rule-title-s);
	font-weight: var(--rule-title-w);
	color: var(--rule-txt-color);
	text-align: center;
}

.qna {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.qna-box {
	max-width: 50%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.res-des {
	color: var(--primary-color);
}

.res-option {
	color: var(--default-color);
	background-color: var(--primary-color);
	padding: 0.5rem;
	border-radius: 11px;
}

.res-option0 {
	color: var(--default-color);
	background-color: var(--secondary-color);
	padding: 0.5rem;
	border-radius: 11px;
}

.score-board {
	width: 30%;
	background-color: black;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border-radius: 8px;
}

.board-title {
	font-size: var(--rule-title-s);
	font-weight: var(--rule-title-w);
	color: var(--rule-txt-color);
	text-align: center;
}

.score-digit {
	font-size: var(--rule-title-s);
	font-weight: var(--rule-title-w);
	color: var(--rule-txt-color);
	text-align: center;
}

.board-btn {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.sc-btn {
	width: 12rem;
	height: 2.5rem;
	margin: 0 auto;
	border: 1.5px solid var(--primary-color);
	border-radius: 11px;
	background-color: transparent;
	text-decoration: none;
	color: var(--primary-color);
	margin-bottom: 2rem;
	text-align: center;
}

.sc-btn:hover {
	background-color: var(--primary-color);
	color: var(--default-color);
}
