<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://amazing-kowalevski-11b361.netlify.app/root.css">
    <link rel="stylesheet" href="./cate2.css" />
    <title>Songs</title>
</head>
<body>

    <div class="cate2-container">

        <header>
            <div class="mini-header">
                <div class="mini-icon-container">
                    <a class="img-link" href="../../../index.html"><span>
                            <img class="icon" src="../../../images/jpeg/headicon.png" alt="" /></a>
                    </span>
                </div>
                <div class="mini-socials">
                    <span><a href="https://github.com/shivamsoni00"><img src='../../../images/jpeg/github-mini.png'
                                class="social-icons" /></a></span>
    
                    <span><a href="https://twitter.com/ShivamSspirit"><img src='../../../images/jpeg/twittermini.png'
                                class="social-icons" /></a></span>
                </div>
            </div>
        </header>

        <div class="category-content">
            <h1 class="song">Songs qizzes</h1>

            <div class="category">

                <div class="action-pad">
                    <div class="action-card rm-border">
                        <div class="img-container-product0 mini-contain">
                        <img class="p-img0" alt="" src="../../../images/jpeg/cash.jpg">
                        <div class="badge1">
                        <span class="action" onclick="close()"><img src="../../../images/svgs/close.svg" class="img-action" alt=""></span>
                        </div>
                        </div>
                        <div class="card-content-product0">
                        <h3 class="title0 mini-title">EDM</h3>
                        <a href="../../rules/rules.html" class="btn-product0 mini-btn">Play</a>
                        </div>
                    </div> 
                </div>

                <div class="action-pad">
                    <div class="action-card rm-border">
                        <div class="img-container-product0 mini-contain">
                        <img class="p-img0" alt="" src="../../../images/jpeg/1millidollars.jpg">
                        <div class="badge1">
                        <span class="action" onclick="close()"><img src="../../../images/svgs/close.svg" class="img-action" alt=""></span>
                        </div>
                        </div>
                        <div class="card-content-product0">
                        <h3 class="title0 mini-title">AP</h3>
                        <a href="../../rules/rules.html" class="btn-product0 mini-btn">Play</a>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="back">
                <a class="btn outline-secondary cat2-btn" href="../../category/category.html">Back to category</a>
            </div>
        </div>
    </div>
   
</body>
</html>